@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.CartPage {
  z-index: 1;
  background-image: url("https://i.ibb.co/QYJH6Pz/19969521815-66f529e09f-o.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  .Img_Container {
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 100vh;

    &__Image {
    }
  }
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    z-index: 3;
    background-color: rgba($color: white, $alpha: 0.6);
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);
    width: 90vw;
    margin: 5em 1em 5em 1em;
    backdrop-filter: blur(40px);

    .Wrapper_Head {
      &__Breaker {
        width: 100%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          $dark-blue,
          rgba(0, 0, 0, 0)
        );
      }
      &__Title {
        margin: 0;
        color: $dark-blue;
        letter-spacing: 0.3em;
      }
    }

    &__Cart {
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding: 2em 0;

      &__Item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 1.5em;
        border: 2px solid $yellow;
        border-radius: 6px;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);
        background-color: $white;
        width: 85vw;

        .Bagde {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 1em;
          flex: 0 0 80%;

          .Container_Info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            //min-width: 0%;

            .Wrapper_title {
              display: flex;
              align-items: center;

              gap: 0.5em;

              &__Bookmark {
                //width: 1em;
                color: green;
                font-size: 1.3em;
              }

              &__titleP {
                color: $dark-blue;
                font-weight: 600;
              }
            }

            .Wrapper_Price {
              display: flex;
              align-items: center;
              gap: 0.5em;

              &__PriceTag {
                //width: 1.5em;
                color: $yellow;
                font-size: 1.3em;
              }

              &__text {
                letter-spacing: 0.15em;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.7);
              }
            }
          }
        }

        .ImgContainer {
          position: relative;

          border-radius: 6px;
          width: 30vmax;
          height: 15vmax;
          box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.3);
          &__image {
            border-radius: 6px;
          }
        }
      }
    }
    .Container_count {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;

      .Wrapper_Counter {
        display: flex;
        gap: 0.5em;

        &__Input {
          width: 2em;
          padding: 0.3em 0;
          text-align: center;
          border-radius: 3px;
          border: 2px $light-blue solid;
          outline: none;
          cursor: inherit;
        }
      }

      &__p {
        letter-spacing: 0.15em;
        margin: 0;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .Wrapper_Total {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1.5em;
      width: 85vw;
      border: 2px solid $yellow;
      border-radius: 6px;
      box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);
      background-color: $white;

      &__Container {
        flex: 0 0 70%;
        text-align: center;

        &__title {
          color: $dark-blue;
          letter-spacing: 0.25em;
          font-weight: 900;
        }

        &__text {
          letter-spacing: 0.15em;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
  .Cart_Button {
    &__Minus {
      background-color: $yellow;
      border: none;

      width: 2.5em;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba($color: #666666, $alpha: 0.3);
      font-weight: 600;
      color: $white;
      cursor: pointer;
    }

    &__Plus {
      background-color: $yellow;
      border: none;
      border-radius: 3px;
      width: 2.5em;
      box-shadow: 0 0 3px rgba($color: #666666, $alpha: 0.3);
      font-weight: 400;
      color: $white;
      cursor: pointer;
    }

    &__Checkout {
      background-color: $yellow;
      border: none;
      padding: 1em 1.2em;
      border-radius: 3px;
      box-shadow: 0 0 6px rgba($color: #666666, $alpha: 0.3);
      font-weight: 800;
      color: $white;
      letter-spacing: 0.25em;
      cursor: pointer;
    }
  }
}
