@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Empty {
  height: 90px;
  top: 0;
  width: 100%;
}
.Container {
  display: flex;
  justify-content: space-around;

  .Wrapper_Head {
    &__Breaker {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        $dark-blue,
        rgba(0, 0, 0, 0)
      );
    }
    &__Title {
      margin: 0;
      padding: 0 0 0 2em;
      color: $dark-blue;
      letter-spacing: 0.3em;
    }
  }

  &__Cart {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 1 0 25%;
    max-width: 70%;
    background-color: $white;
    padding: 2em 0;

    &__Item {
      display: flex;
      align-items: center;
      padding: 1.5em;
      border: 2px solid $yellow;
      border-radius: 6px;
      box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.3);
      justify-content: space-between;

      .Bagde {
        display: flex;
        align-items: center;
        gap: 1em;

        &__title {
          color: $dark-blue;
          font-weight: 600;
        }
      }

      .ImgContainer {
        position: relative;
        border-radius: 6px;
        width: 20vw;
        height: 10vw;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.5);
        &__image {
          border-radius: 6px;
        }
      }
    }
  }
  .Container_count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .Wrapper_Counter {
      display: flex;

      &__Input {
        width: 20px;
      }
    }

    &__p {
      padding-right: 1em;
      margin: 0;
    }
  }
  .Wrapper_Total {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5em;
  }
}

@media (max-width: 900px) {
  .Empty {
    height: 60px;
  }
}
