.Empty {
  height: 90px;
  top: 0;
  width: 100%;
}
.Container_Cart {
  display: flex;
  flex-direction: column;

  &__Wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    &__Badge {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5vh;
      gap: 2vh;

      &__Item {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__Wrapper_Total {
    display: flex;
    justify-content: space-between;
    padding: 5vh;
  }
}

@media (max-width: 900px) {
  .Empty {
    height: 60px;
  }
}
