.card_wrapper{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.title{
    display: block;
    margin: 0 auto;
    color: #5C9DDE;
    text-align: center;
}

.hide{
    display: none;
}