@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.card_wrapper{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.title{
    display: block;
    margin: 2% auto;
    color: $dark-blue;
    text-align: center;
    font-size: 2rem;
}

.hide{
    display: none;
}