@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapImgText {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  width: 15vw;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: -2px 2px 15px -5px #777;
}

.card_img {
  width: fit-content;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
  transition: all 300ms ease-out;
  filter: contrast(0.9) saturate(0.6);

  &:hover {
    filter: contrast(1.3) saturate(1);
  }
}

.text {
  padding: 0 15px 0 15px;
}

.card_title {
  text-align: left;
  color: $dark-blue;
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc {
  color: #4079b1;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.tags {
  width: fit-content;
  color: $yellow;
  display: flex;
  font-size: 12px;
  gap: 10px;
  margin-bottom: 3px;
  margin-right: 35px;
  margin-left: 5px;
}

.cartDiv {
  width: fit-content;
  height: 3vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  background-color: $yellow;
  border-radius: 2px;
  border: 1px solid $yellow;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 10px 0;
  padding: 10px;
  transition: all 300ms ease;
  cursor: pointer;

  p {
    font-size: 12px;
    color: $white;
    white-space: nowrap;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.cart {
  size: 22px;
  color: $dark-blue;
}

.wrapSubItems {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

.btnCart {
  background-color: transparent;
  border: none;
}

@media all and (min-width: 320px) and (max-width: 424px) {
  .card_img,
  .cards {
    width: 100vw;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1);
    }
  }

  .desc {
    font-size: 14px;
  }

  .wrapper {
    overflow-x: scroll;
    gap: 40px;
    margin: 0 auto;
    scrollbar-width: none;
  }

  .wrapper::-webkit-scrollbar {
    display: none;
  }
}

@media all and (min-width: 425px) and (max-width: 767px) {
  .desc {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card_img {
    width: 90vw;
  }
  .cards {
    width: 90vw;
    height: 50vh;
    margin-bottom: 80px;
  }

  .wrapper {
    overflow-x: scroll;
    gap: 20px;
    margin: 0 auto;
    scrollbar-width: none;
  }

  .wrapper::-webkit-scrollbar {
    width: 40vw;
    display: none;
  }

  .tags {
    font-size: 10px;
  }

  .cartDiv {
    p {
      font-size: 10px;
    }
    width: fit-content;
  }
}

@media all and (min-width: 768px) and (max-width: 819px) {
  .card_img {
    width: 40vw;
  }
  .cards {
    width: 40vw;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .card_title {
    font-size: 20px;
  }

  .desc {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
  }

  .cartDiv {
    p {
      min-width: fit-content;
      max-width: 100px;
      margin: 0;
      font-size: 14px;
    }
  }

  .wrapper::-webkit-scrollbar {
    width: 40vw;
    display: none;
  }
}

@media all and (min-width: 820px) and (max-width: 1023px) {
  .card_img {
    width: 40vw;
  }
  .cards {
    width: 40vw;
    height: 60vh;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .desc {
    font-size: 18px;
  }

  .wrapper::-webkit-scrollbar {
    width: 40vw;
    display: none;
  }

  .cartDiv {
    width: 12vw;
    p {
      width: fit-content;

      margin: 0;
      font-size: 14px;
      text-align: left;
    }
  }

  .tags {
    font-size: 15px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
  .desc {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card_img {
    width: 30vw;
  }
  .cards {
    width: 30vw;
    height: 50vh;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .cartDiv {
    width: 6vw;

    p {
      width: 4vw;
      font-size: 10px;
      text-align: center;
    }
  }

  .tags {
    font-size: 10px;
  }
}

@media all and (min-width: 1440px) and (max-width: 2559px) {
  .desc {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card_title {
    font-size: 22px;
  }

  .card_img {
    width: 30vw;
  }
  .cards {
    width: 30vw;
    height: 60vh;
    margin-bottom: 80px;
  }
}

@media all and (min-width: 2560px) {
  .desc {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card_title {
    font-size: 22px;
  }

  .card_img {
    width: 15vw;
  }
  .cards {
    width: 15vw;
    height: 50vh;
    margin-bottom: 80px;
  }
}
