.title{
font-size: 16px;
color:#3385D6;
}

.cards{
    width: 280px;
    min-height: 280px;
    max-height: 450px;
    border-radius: 10px;
    padding: 5px 10px;
}

.card_img{
width: 100%;
height: 150px;
margin: 15px auto 5px;
box-shadow: 0px 15px 20px -14px;;
border-radius: 10px;
object-fit: cover;
}

.desc{
    color: #5C9DDE;
    font-weight: 600;
    font-size: 12px;
}

.text{
    text-shadow: 0px 5px 20px -10px;
    background-color: transparent;

}

