@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px red solid;
  position: absolute;
  top: 25%;
  left: 50%;

  .wrapper__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px red solid;
    gap: 10px;
    ::placeholder {
      color: $light-blue;
      font-family: $primary-font;
      padding: 5px;
    }
    input {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-color: $yellow;
      padding: 5px;
      font-family: $primary-font;
      border-radius: 5px;
      box-shadow: 2px 3px 11px -5px;
    }
    .message {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // margin: 10px;

      textarea {
        width: 80%;
        height: 15vw;
        border-color: $yellow;
        padding: 5px;
        font-family: $primary-font;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 2px 3px 11px -5px;
        resize: none;
      }
    }

    button {
      @include hover;
      @include button;
      box-shadow: 2px 3px 11px -5px;
      background-color: $light-blue;
      font-family: $primary-font;
    }
  }

  .title {
    h1 {
      color: $light-blue;
      padding: 0px 30px;
      border-bottom: none;
      font-family: $primary-font;
      display: inline-block;
      font-size: clamp(1.6em, 1em, 0.8em);
    }
  }
}
@media all and (min-width: 375px) {
  .wrapper {
    left: 20%;
    top: 50%;
    .wrapper__form {
      border: 2px red solid;
      max-width: 150vw;
      min-height: 10vh;
      top: 50%;

      input {
        border: none;
        max-width: 50vw;
        max-height: 15px;
      }
      .message {
        textarea {
          border: none;
          margin: 0;
          max-height: 5vh;
        }
      }

      button {
        max-width: 60px;
        max-height: 30px;
      }
    }
    .title{
      h1{
      color:$light-blue;
     max-height: 3vh;
    }
    }
  }
}

@media all and (min-width: 1024px) {
  .wrapper {
   top:10vw;
   left: 40%;
   max-width: 80vw;
    .title {
      width: 30vw;
    }
    .wrapper__form{
      max-height: 90vh;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    top: 15vw;
    .wrapper__form {
      left: 30%;
      button {
        padding-right: 0 10px;
      }
    }
  }
}
