@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Container > input {
  width: 255px;
  height: 5vh;
  border: 1px solid $white;
  margin-right: 15px;
  border-radius: 10px;
  padding: 2vh;
  font-family: $primary-font;
  font-size: 1rem;
  outline: none;
}

@media all and (min-width: 320px) and (max-width: 425px) {
  .Container > input {
    width: 90vw;
    margin: 0 auto;
    margin: 1vh 0 1vh 0;
  }

  .Container > input[type="date"]:not(.has-value):before {
    color: black;
    content: attr(placeholder);
  }
}

@media all and (min-width: 426px) and (max-width: 768px) {
  .Container > input {
    width: 20vw;
    margin: 1vh 1vw 1vh 0;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .Container > input {
    width: 20vw;
    margin: 1vh 1vw 1vh 0;
  }
}

@media all and (min-width: 1025px) and (max-width: 1440px) {
  .Container > input {
    width: 15vw;
    margin: 0;
    margin: 1vh 1vh 1vh 0;
  }
}

@media all and (min-width: 1441px) and (max-width: 1920px) {
  .Container > input {
    width: 15vw;
    margin: 0;
    margin: 1vh 1vh 1vh 0;
  }
}

@media all and (max-width: 320px) and (max-width: 425px) {
  .Container {
    width: 85vw;
  }

  .Input {
    width: 100vw;
  }
}

@media all and (min-width: 1441px) and (max-width: 1920px) {
  .Container > input {
    width: 15vw;
    margin: 0;
    margin: 1vh 1vh 1vh 0;
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .Container > input {
    width: 10vw;
    margin: 0;
    margin: 1vh 1vh 1vh 0;
  }
}
