@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.login {
    position: relative;
}

.wrapper {
    display: flex;
    position: absolute;
    top: 35%;
    width: 20vw;
    height: 50vh;
    align-items: center;
    flex-direction: column;
    left: 5%;

    &__title {
        height: 2vh;
        color: $light-blue;
        text-align: center;
        font-family: $primary-font;
        font-size: 2rem;
    }

    &__form {
        width: 100%;
        padding: 5px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        font-family: $white;
         width: 100%;
         height: 30px;
         margin: 0.5rem 0;
         border: none;
         border-radius: 5px;
    }

    ::placeholder {
        font-size: 0.6rem;
        font-weight: bold;
        color: $light-blue;
         padding: 8px;  
        font-family: $primary-font;
    }

    &__button {
        @include hover;
        @include button;
        background-color: $light-blue;
        font-family: $primary-font;
        text-align: center;
        font-size: 0.8rem;
        height: 4vh;
        width: 10vw;
    }
}


@media only screen and (min-width: 320px) and (max-width: 768px){
    .wrapper{
        margin-top: -9%;
        width: 90vw;

        &__title{
          width: 100vw;
          font-size:20px ;
          height: 0vh;
          color: $white;
         
      }
      &__form{
          width: 70vw;
          
      }
     
      ::placeholder{
          font-size:0.5rem; 
      }
      &__button{
          width: 30%;
          height: 2vh;
          font-size: 0.5rem;
          
      }
    
			
		
			
    }
}
@media screen  and (min-width: 2560px){
     .wrapper{
         &__title{
             font-size: 4.6rem;
         }
         &__input{
             height: 7vh;
             
         }
     }
}
    
