@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Container_Paragraph {
  margin-right: 90px;
  margin-top: 50px;
  text-align: left;
  font-size: clamp(10vw, 1vw, 10vw);
  line-height: 1rem;
  white-space: nowrap;
  color: $white;
}

@media all and (max-width: 320px) {
  .Container_Paragraph {
    margin-right: 80px;
  }
}

@media all and (min-width: 425px) and (max-width:768px){
  .Container_Paragraph {
    margin-right: 100px;
  }
}