@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.div{
    background-color: #f7f7f7;
}

.imgDiv {
    position: relative;
    top: 0;
}

.Hero_img {
    filter: drop-shadow(30px 10px 4px #fbfbfb4d);
    box-shadow: 2px 2px 2px black;
    object-fit: cover;
}

.title {
    margin-bottom: 20px;
    top: 10vh;
    font-size: 2.9rem;
    color: #4079b1;
    text-align: center;
}

.cities {
    margin-bottom: 0;
    font-size: 2.2rem;
    color: #4079b1;
    text-align: left;
}

@keyframes test {
    0% {
        left: 110vw;
    }

    100% {
        left: 50vw;
    }
}

.quote {
    position: absolute;
    top: 25vh;
    left: 70vw;
    color: $light-blue;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    width: 20vw;
    animation-name: test;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: all 200ms ease;
}

.wrapper {
    width: 72%;
    margin: 0 auto;
}

.lastSlide {
    margin-bottom: 50vh;
}

@media all and (min-width: 320px) and (max-width: 425px) {

    .imgDiv,
    .Hero_img {
        display: none;
    }

    .cities {
        text-align: left;
        margin-left: 4vw;
    }

    .title {
        margin-top: 10vh;
        margin-bottom: 6vh;
    }

    .quote {
        display: none;
    }

    .wrapper {
        width: 100%
    }

    .lastSlide {
        margin-bottom: 10vh;
    }
}

@media all and (min-width: 426px) and (max-width: 768px) {
    .quote {
        width: 50vw;
        font-size: 18px;
        top: 10vh;
        left: 40vw;
        animation-name: test;
        animation-iteration-count: 0;
    }

    .wrapper {
        width: 92%
    }

    @keyframes test {
        100% {
            left: 70vw;
        }
    }

    .lastSlide {
        margin-bottom: 10vh;
    }
}

@media all and (min-width: 769px) and (max-width: 820px){

    .quote {
        width: 50vw;
        font-size: 18px;
        top: 10vh;
        left: 40vw;
        animation-name: test;
        animation-iteration-count: 0;
    }

    .wrapper {
        width: 80%
    }

    .lastSlide {
        margin-bottom: 10vh;
    }

}

@media all and (min-width: 820px) and (max-width: 1024px){
    .quote {
        width: 50vw;
        font-size: 18px;
        top: 15vh;
        left: 40vw;
        animation-name: test;
        animation-iteration-count: 0;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
    .quote {
        width: 50vw;
        font-size: 25px;
        top: 15vh;
        left: 45vw;
        animation-name: test;
        animation-iteration-count: 0;
    }
    
    .lastSlide {
        margin-bottom: 10vh;
    }
}

@media all and (min-width: 1441px) and (max-width: 2560px) {
    .quote {
        width: 45vw;
        font-size: 30px;
        top: 30vh;
        left: 50vw;
        animation-name: test;
        animation-iteration-count: 1;
    }
    .lastSlide{
        margin-bottom: 10vh;
    }
}