

.global {
    position: relative;
    top: 100px;
}

.title {
    margin-top: 0;
    position: relative;
    top: 10vh;
    font-size: 30px;
    color: #5C9DDE;
    text-align: center;
}


.wrapper {
    margin-bottom: 100px;
}

