.wrapper{
    max-width: 30%;
    min-width: 30%;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: lightblue;
    border-radius: 10px;

    input, label, select {
        margin-bottom: 10px;
    }
}