<<<<<<< HEAD
.btn {
  background-color: transparent;
  border: none;
}

.flag {
  padding-top: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
=======
.btn{
    background-color: transparent;
    border: none;

}

.flag{
    padding-top: 2px;
    margin-bottom: -6px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

>>>>>>> fix: added translation to the whole app and fix some minor issues
