.Container {
  text-align: right;
<<<<<<< HEAD
=======

  .Dynamic {
    animation: 1s ease-out 0s 1 slideText;
  }
  .Slide {
    opacity: 0;
  }
}

@keyframes slideText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
>>>>>>> dev
}
