@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


    .Actv_Image_Container {
      width: 80vh;
      margin: 0 auto;
      padding-top: 10vh;
      overflow: hidden;
      border-radius: 8px;
      filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));

      .Actv_Image {
        border-radius: 8px;
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.8));
      }
      
    }

    .Prices_p {
        width: fit-content;
        color: $white;
        bottom: 138%;
        left: 82%;
        margin: 50px auto 30px auto;
        box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 60%);
        padding: clamp(0.8%, 2vw, 1%);
        background-color: $yellow;
        font-weight: 600;
        font-family: $primary-font;
        font-size: clamp(0.8rem, 2vw, 1.5rem);
        border-radius: 3px;
        white-space: nowrap;
      }

    .Info_Container {
      display: flex;
      flex-direction: column;
      color: $dark-blue;
      .Title {
        text-align: center;
        font-size: clamp(1rem, 5vw, 2rem);
        margin: 0;
        padding: 0;
      }

      .Place {
        margin: 0;
        padding: 0;
        font-size: clamp(0.5rem, 4vw, 1rem);
        font-weight: 200;
      }
    }

    .About {
      margin: 0;
      padding: 4vh;
      font-size: clamp(0.8rem, 4vw, 1.3rem);
      color: $dark-blue;
    }
    .highlights {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border: 2px solid $light-blue;
      border-radius: 30px;
      background-color: $yellow;
      color: $dark-blue;
      font-weight: 600;
      gap: 3vh;
      padding-top: 10px;
      clip-path: ellipse(60% 70% at 50% 25%);

      .highlights_ul {
        flex: 0 0 45%;
        @include reset-list;
        text-align: center;

        .highlights_li {
          padding: 1vh;
        }
      }
      .included_ul {
        flex: 1 0 45%;
        @include reset-list;
        text-align: center;

        .included_li {
          padding: 1vh;
        }
      }
      .lang_Container {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 7vh;
        .lang_title {
          margin: 0;
          padding: 0;
        }
        .lang_ul {
          flex: 0 0 100%;
          text-align: center;
          @include reset-list;
        }
      }
    }

    .Button_Container {
      display: flex;
      gap: 15px;

      .Button {
        padding: 10px 20px;
        color: $white;
        border: none;
        border-radius: 3px;
        background-color: $yellow;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: $primary-font;
        cursor: pointer;
      }
    }
  



@media all and (min-width: 760px) {
  .Prices_p {
    bottom: 135% !important;
    left: 87% !important;
    padding: clamp(0.8%, 2vw, 1%);

    font-family: $primary-font;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
}
@media all and (min-width: 1440px) {
  .Prices_p {
    bottom: 135% !important;
    left: 89% !important;

    font-family: $primary-font;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
}
@media all and (min-width: 2560px) {
  .Prices_p {
    bottom: 135% !important;
    left: 93% !important;

    font-family: $primary-font;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
}

@keyframes popUp {
  0% {
    transform: scale(0%, 0%);
  }

  100% {
    transform: scale(100%, 100%);
  }
}
