@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Label {
  color: $dark-blue;
  padding: 10px;
  font-weight: 600;
  display: none;
}

.Select {
  width: 255px;
  height: 5vh;
  border: 1px solid $white;
  border-radius: 10px;
  margin: 0 10px 0 0;
  padding: 1vh;
  font-family: $primary-font;
  font-size: 1rem;
  outline: none;
}

@media all and (min-width: 320px) and (max-width: 425px) {
  .Select {
    width: 100vw;
    margin: 0;
    margin: 1vh 0 1vh 0;
  }
}

@media all and (min-width: 426px) and (max-width: 768px) {
  .Select {
    width: 15vw;
    margin: 0;
    margin: 1vh 1vw 1vh 0;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .Select {
    width: 16vw;
    margin: 0;
    margin: 1vh 1vh 1vh 0;
  }
}
@media all and (min-width: 1025px) and (max-width: 1920px) {
  .Select {
    width: 15vw;
    margin: 0;
    margin: 1vh 1vh 1vh 0;
  }
}
@media all and (min-width: 1921px) and (max-width: 2560px) {
  .Select {
    width: 10vw;
    margin: 0;
    margin: 1vh 1vh 1vh 0;
  }
}
