.Dynamic {
  position: relative;
  animation: 1s ease-out 0s 1 slideText !important;
}
.Hero_img {
  filter: drop-shadow(30px 10px 4px #fbfbfb4d);
  border-radius: 24px;
  box-shadow: 2px 2px 2px black;
}
.Slide {
  position: relative;
  opacity: 0 !important;
}
