
.backimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1024px) {
    .contactImg{
        width: 100%;
        height: 100vh;
    }
    
  .backimg{
     width: fit-content;
   }
 }  


@media only screen and (max-width: 375px) {
   .backimg{
      width: 50%;
      height: 50px;
    }
  }

  @media only screen and (max-width: 768px) {
      .contactImg{
          width: 100%;
          height: 100%;
      }

    .backimg{
       width: fit-content;

     }
   }  