@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.about {
	position: relative;

	&__wrapper {
		position: relative;
		display: block;
		margin: 0;
        width: 100%;
	}


	&__title {
		position: absolute;
		width: 100%;
		top: -10%;
		left: 2%;
		z-index: 2;
		font-size: 3.3vw;
		color: $dark-blue;
	}

	&__descWrapper {
		display: flex;
		flex-direction: column;
		position: absolute;
		color: $dark-blue;
		background-color: rgba(255, 255, 255, 0.453);
		margin: 0;
		width: 60%;
		height: 60%;
		z-index: 2;
		top: 15vw;
		left: 0;
		font-family: $primary-font;
		font-size: 1.8vw;
		text-align: left;
		font-weight: 400;
		flex-wrap: wrap;
		@include border-radius;
	}

	&__descContainer {
		padding: 2% 4%;
		height: fit-content;
	}

	&__photos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__square {
		z-index: 3;
		width: 200px;
		height: 200px;
		background-color: $dark-blue;
		margin: 5%;
	}

	&__square1 {
		z-index: 3;
		width: 200px;
		height: 200px;
		background-color: $dark-blue;
		margin: 5%;
	}

	&__square2 {
		z-index: 3;
		width: 200px;
		height: 200px;
		background-color: $dark-blue;
		margin: 5%;
	}

	&__square3 {
		z-index: 3;
		width: 200px;
		height: 200px;
		background-color: $dark-blue;
		margin: 5%;
	}

	&__square4 {
		z-index: 3;
		width: 200px;
		height: 200px;
		background-color: $dark-blue;
		margin: 5%;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
	.about {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;

		&__img {
			width: 100%;
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			position: relative;
		}

		&__title {
			position: absolute;
			width: 100%;
			top: -75px;
			left: 2%;
			z-index: 2;
			font-size: 30px;
			color: $dark-blue;

		}

		&__descWrapper {
			display: flex;
			position: absolute;
			color: $light-blue;
			background-color: rgba(255, 255, 255, 0.453);
			margin: 0;
			width: 80%;
			height: 75%;
			z-index: 2;
			top: 33vw;
			left: 0;
			font-family: $primary-font;
			font-size: 1.5rem;
			text-align: left;
			font-weight: 400;
			flex-wrap: wrap;
			@include border-radius;
		}

		&__descContainer {
			padding: 2% 4%;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&__descTitle {
			display: block;
			height: fit-content;
			font-size: 26px;
			color: $dark-blue;
		}

		&__desc {
			line-height: 25px;
			color: $dark-blue;
			font-size: 20px;
			height: 400px;
			overflow: scroll;
		}

		&__photos {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			width: 100%;
		}
		
		&__photos > img {
			width: 100px;
			height: auto;
		}
		
	}
}
