//colors//

$white: white;
$dark-blue: #125D98;
$light-blue: #3C8DAD;
$yellow: #F5A962;
$bg-color:#FAACA8;
$bg-gradient:linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

//fonts//

$primary-font: 'Outfit', sans-serif;