@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.homepage__desc {
  display: flex;
  position: absolute;
  color: $light-blue;
  z-index: 2;
  top: 10vh;
  height: clamp(60vw, 1vw, 100vh);
  right: 5%;
  font-family: $primary-font;
  //font-size: 3.3vw;
  text-align: right;
  font-weight: 700;
  flex-wrap: wrap;
}

@keyframes slideText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
