@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.body {
   
    background-image: url(/img/lapacontactus.jpg);
}
.wrapper__title{
     
    h1{
        color: #3C8DAD; 
        text-align: right;
        padding:20px 300px;
        border-bottom: none;
        text-align: right;
    }
}

.wrapper__form{
    padding:10px 300px;
     border-bottom: none;
     text-align: right;
     
     
    ::placeholder{
    color:#3C8DAD;
    }
    input{
        border-color: aquamarine;
        
    }
    textarea{
        width: 394px;
        height: 211px;
        border-color: aquamarine;
        padding: 0px ;
    }

    button{

        

        background:#3C8DAD;
        border:none;
        color: #fff;
        text-decoration: none;
        padding: 10px 30px;
        font-size: 20px;
        line-height: 30px;
        border-radius: 10px;
        margin-top: 20px;
      
        
     }



}
